
version: 2
jobs:
 environment:
   IMAGE_NAME: "leonardomontero/carros-case"
 build:
   machine: true
   steps:
     - checkout
     - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin

     # build the application image
     - run: docker build -t ${IMAGE_NAME}:${CIRCLE_BUILD_NUM} .

     # deploy the image
     - run: docker push ${IMAGE_NAME}:${CIRCLE_BUILD_NUM} 
